#nav-bar {
    border-bottom: 50px black;
};
.butto{
    font-size: 20px;
    text-decoration: none;
};
.category{
    text-decoration: none;
    font-size: 18px;
    font: rgba(133, 133, 133, 1);
    display: inline-flex;
    text-align: center;
    border: none;
    background-color: white;
};

